html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    color: black;
 }
 
 * {
    margin: 0;
    padding: 0;
 
 }
 nav{
    width: 100%;
    display: flex;
    gap: 51em;
    align-items: end;
    margin-top: 2em;
    margin-left: 2em;
    position: absolute;
 }
 nav img{
    width: 4em;
 }
nav h1{
   font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  list-style: none;
  margin-left: -23em;
}
/* hero section */
.container{
    width: 100%;
}
.container1{
   width: 90%;
}
.container2{
   width: 70%;
   display: flex;
}
.box1{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 2em;
}
.call-us-Now{
  background-color: white;
  border: solid white;
  padding: 0;
  cursor: pointer;
  color: black;
  width: 8em;
  height: 2em;
  margin-left: 40em;
}
.box1 h1{
    font-size: 5em;
    margin-top: 5em;
    margin-left: 1em;
}
.read-more{
    background-color: rgb(132,48,12,255);
   border: solid white;
   padding: 0;
   cursor: pointer;
   color: white;
   width: 10em;
   height: 3em;
   margin-left: -4em;
}
.container2 img{
width: 100em;
margin-left: 12em;
} 
/* hero section end */

/* about us section */
.container3 {
   display: flex;
   align-items: center; 
 }
 .box3{
   background-color:rgba(163,66,25,255);
   height: 80em;
 }
 .box3 h1{
   color: white;
   font-size: 4em;
  margin-left: 2em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 8em;
 }
 .box3 p{
   color: white;
   font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 2em;
  text-align: center;
 }
.read-more2{
   background-color: rgb(132,48,12,255);
  padding: 0;
  cursor: pointer;
  color: white;
  width: 10em;
  height: 3em;
  margin-left: 8em;
  margin-top: 2em;
  border: rgb(132,48,12,255);
  text-transform: uppercase;
}
/* protofolio */
.container4{
   display: flex;
  margin-top: 8em;
  background-color: whitesmoke;
  margin-left: 12em;
}
 .box4{
   display: flex;
  flex-direction: column-reverse;
} 
 .box5{
   display: flex;
  flex-direction: column;
  margin-left: -36em;
} 
 .box6{
   margin-left: 3em;
} 
 .box7{
   margin-left: 4em;
} 
 .box8{
   display: flex;
  flex-direction: column-reverse;
  margin-left: -40em;
  margin-top: 7em;
} 
.container8{
 font-size: 4em;
 font-size: 2em;
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  margin-top: 6em;
}
.see-more{
  background-color: rgb(132,48,12,255);
 padding: 0;
 cursor: pointer;
 color: white;
 width: 10em;
 height: 3em;
 margin-left: 45em;
 margin-top: 2em;
 border: rgb(132,48,12,255);
 text-transform: uppercase;
}
/* our team */
.container5 {
   display: flex;
   align-items: center; 
   margin-top: 15em;
   border-radius: 2em;
 }
 .box10{
   background-color:rgba(163,66,25,255);
   height: 80em;
   width: 40em;
 }
 .box10 h1{
   color: white;
   font-size: 4em;
   margin-left: 1.7em;
   text-transform: uppercase;
   font-weight: bold;
   margin-top: 8em
 }
 .box10 p{
   color: white;
   font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 2em;
  text-align: center;
 }
 .container6{
   display: flex;
   gap: 2em;
  margin-left: 10em;
  margin-top: -44em;
 }
 
 .container7 img{
   margin-top: 37em;
   margin-left: -57em;
 }
 /* contact us */
   
 .container9 {
  display: flex;
  align-items: center; 
}
.box11{
  background-color:rgba(163,66,25,255);
  height: 68em;
  /* margin-left: 102em; */
  width: 73em;

}
.box11 h1{
  color: white;
  font-size: 4em;
  margin-left: 1.5em;
 text-transform: uppercase;
 font-weight: bold;
 margin-top: 8em;
}
.box11 p{
  color: white;
  font-size: 1.5em;
 text-transform: uppercase;
 font-weight: bold;
 margin-top: 2em;
 text-align: center;
}
.box11 img{
  display: flex;
  margin-left: 12em;
  margin-top: 2em;
}
/* footer */
footer {
  background-color: rgb(132,48,12,255);
  color: #fff;
  padding: 20px 0;
  text-align: center;
  font-family: Arial, sans-serif;
}

.footer ul {
  list-style-type: none;
  padding: 0;
  margin-left: 105em;
  margin-top: 1em;
}

.footer ul li {
  display: inline;
  margin-right: 10px;
}

.footer ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.footer ul li a:hover {
  text-decoration: underline;
}

.footerbottom {
  margin-top: 10px;
}

.footerbottom p {
  font-size: 1.5em;
  margin-left: -75em;
  margin-top: -1em;
} 
/* 
======== RK ============ */
.rkcontainer{
  width: 100%;
  height: 100%;
}